name: CI # Continuous Integration

on:
    push:
        branches:
            - main
    pull_request:
    workflow_dispatch:

jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout repository
                uses: actions/checkout@v4

            -   name: Set up UV Environment
                uses: astral-sh/setup-uv@v3
                with:
                    version: "latest"

            -   name: Format Code
                run: uvx ruff format --diff .

            -   name: Lint Code
                run: uvx ruff check .

    build-and-test:
        runs-on: {{ "${{ matrix.os }}" }}
        strategy:
            matrix:
                os: [ubuntu-latest, macos-latest, windows-latest]
            fail-fast: false

        steps:
            -   name: Checkout repository
                uses: actions/checkout@v4

            -   name: Set up UV Environment
                uses: astral-sh/setup-uv@v3
                with:
                    version: "latest"

            -   name: Synchronize Dependencies
                run: uv sync

            -   name: Build Project
                run: uvx hatch build

            -   name: Run Tests
                run: uvx hatch test
