fail_fast: true

repos:
    -   repo: https://github.com/pre-commit/pre-commit-hooks
        rev: v4.6.0
        hooks:
            -   id: check-merge-conflict
            -   id: check-toml
            -   id: check-yaml
            -   id: end-of-file-fixer
            -   id: mixed-line-ending
                args: [ --fix=lf ]
            -   id: trailing-whitespace
    -   repo: https://github.com/crate-ci/typos
        rev: v1.24.1
        hooks:
            -   id: typos
    -   repo: https://github.com/commitizen-tools/commitizen
        rev: v3.29.0
        hooks:
            -   id: commitizen
            -   id: commitizen-branch
                stages: [ push ]
    -   repo: https://github.com/astral-sh/ruff-pre-commit
        rev: v0.6.4
        hooks:
            -   id: ruff
                args: [--fix, --exit-non-zero-on-fix]
            -   id: ruff-format
    -   repo: https://github.com/astral-sh/uv-pre-commit
        rev: 0.4.7
        hooks:
            -   id: uv-lock
